body {
margin: 0 auto;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,114,182,1) 35%, rgba(0,212,255,1) 100%);
}

textarea{
	background-color:black;
	color:white;
}
h1{
	padding-top:10%;
}
.reply{
	background-color:white;
	margin-left:30%;
	margin-right:30%;
}
.main{
	background-color:white;
	margin-left: 30%;
	margin-right:30%;
	margin-bottom:10%;
	padding-bottom:2%;
}